body {
  text-align: center;
  font-family: Arial;
  background: #ffeef2;
}

h1 {
  color: #ff4d6d;
}

#game {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.info {
  font-size: 18px;
  margin-top: 10px;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}